<h1>Normalize here:</h1>

<%= erb :_file_upload %>

<div class="address-sets-container">
	<% session[:address_sets].each do |set| %>
	
	<!-- ADDRESS SET VIEW -->
	<div class="set-wrapper">
		<div class="top-row">
			FileName: <%= set.stats[:filename] %>
		</div>
		
		<% set.each do |addr| %>
		<li>street: <%= addr.street %></li>
		<li>number: <%= addr.number %></li>
		<li>state: <%= addr.state %></li>		
		<% end %>

		<div class="bottom-row">
			bottom
		</div>

	</div>
	<!-- END -->


	<% end %>

</div>