<div class="row new-uploaded-file">
  <div class="span12 hero-unit">
    <div class="slogan">Upload a CSV file with your address data</div>

    <div class="csv-help" data-modal="#help-modal">
      Need help?
    </div>
    <%= debug(@uploaded_file.errors) if false%>

    <div class="upload-file-form">
    <%= form_for @uploaded_file do |f| %>
      <%= f.file_field :thefile, onchange: "window.validateFiles(this);" %>
      <%= f.submit 'Upload', onclick: "window.checkValid(e);" %>
    <% end %>
    <div class="error-wrapper">
    </div>
    </div>

    <div class="slogan small">Then we'll start normalizing</div>
  </div>
</div>

<%= render 'shared/help_modal' %>

